.venv/
.vscode/

logs/
workdir/*

*.pyc
*.h5
*.pth

!workdir/attention_beta/
!workdir/attention_binary/
!workdir/attention_uncertain/
!workdir/baseline_beta/
!workdir/baseline_binary/
!workdir/baseline_uncertain/
!workdir/baseline_nll_beta/